.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50.25%; 
    overflow: hidden;
     background-color: black;
}

.responsivevideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
@media (max-width: 768px) {
    .videocontainer {
        height: 80vh;
        /* Slightly smaller on tablets */
    }
}

@media (max-width: 576px) {
    .videocontainer {
        height: 70vh;
        /* Even smaller on mobile */
        min-height: 300px;
    }

}